
html, body {
  margin: 0;
  padding: 0;
  background-color: Gainsboro;
  max-width: 800px;
  font-family: 'Nunito Sans', sans-serif;
  margin: 10px auto;
  color: #4E4B5C;
}

canvas {
  display: block;
  background-color: white;
  margin: 20px auto;
}
h2 {
  margin-bottom: 0px;
}

a{
  color: #4E4B5C;
}

a:hover {
  color: #fc9dd8;
}

.main-title {
  font-size: 3rem;

}

.project {
  display: inline-block;
  width: 30%;
}

.card p {
  width: 69%;
  display: inline-block;
}
